Improved

<a href="/improved/profile.flat.txt">flat</a>
<a href="/improved/profile.graph.html">graph</a>
<a href="/improved/profile.grind.dat">grind</a>
<a href="/improved/profile.stack.html">stack</a>
